<%= content_for :title do %>Step 3 of 3<% end %>
<%= content_for :navigation do %><%= mxit_nav_link '/mxit/index', 'Back' %><% end %>

<p>Great!  The last thing we'll need before we can finish the process is your age.</p>
