<%= mxit_table_row :title %>
<b>Step 1 of 3</b>

<%= mxit_table_row %>
<%= mxit_nav_link '/', 'Back' %>

<p>Hi there!  To get started, we'll need your first name.</p>

<% if mxit_validation_message %>
  <p><%= mxit_validation_message %></p>
<% end %>

